.sideBar-container {
  flex: 0.2;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh - 12vh;
  display: none;
  @media (min-width: 50rem) {
    display: block;
  }
}

.sideBar-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sideBar-container {
  --ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox */
}
