.video-list-card-container {
  background-color: transparent;
  border: none;
  width: clamp(15rem, 20vw, 18rem);
  margin: 0.3rem;
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: 600;
  }
  .text {
    font-size: 0.8rem;
    font-weight: 550;
    opacity: 0.6;
  }
}
